#slides .slides-container {
  display: none;
}

#slides .slides-container li {
    
}
#slides .slides-container img {
    width: 1300px;
}


#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  width: 40px;
    height: 40px;
    font-size: 30px;
    text-decoration: none;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    border-radius: 50%; 
}
.slides-navigation a:hover {
    background: #000;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #fff;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 2px;
}
.slides-pagination a.current {
  background: #222;
}
